:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 128 128 128;
  --oui-color-primary-light: 160 160 160;
  --oui-color-primary-darken: 96 96 96;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 160 160 160;
  --oui-color-link-light: 192 192 192;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 128 128 128;
  --oui-color-quaternary: 128 128 128;

  --oui-color-danger: 128 0 0;
  --oui-color-danger-light: 192 0 0;
  --oui-color-danger-darken: 64 0 0;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 0 128 0;
  --oui-color-success-light: 0 192 0;
  --oui-color-success-darken: 0 64 0;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 128 128 0;
  --oui-color-warning-light: 192 192 0;
  --oui-color-warning-darken: 64 64 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 0 0 0;
  --oui-color-fill-active: 50 50 50;

  --oui-color-base-1: 50 50 50;
  --oui-color-base-2: 40 40 40;
  --oui-color-base-3: 30 30 30;
  --oui-color-base-4: 20 20 20;
  --oui-color-base-5: 15 15 15;
  --oui-color-base-6: 10 10 10;
  --oui-color-base-7: 25 25 25;
  --oui-color-base-8: 5 5 5;
  --oui-color-base-9: 0 0 0;
  --oui-color-base-10: 0 0 0;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 128 0 0;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 128 0;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 96 96 96;
  --oui-gradient-primary-end: 160 160 160;

  --oui-gradient-secondary-start: 80 80 80;
  --oui-gradient-secondary-end: 192 192 192;

  --oui-gradient-success-start: 0 96 0;
  --oui-gradient-success-end: 0 192 0;

  --oui-gradient-danger-start: 96 0 0;
  --oui-gradient-danger-end: 192 0 0;

  --oui-gradient-brand-start: 160 160 160;
  --oui-gradient-brand-end: 128 128 128;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 128 128 0;
  --oui-gradient-warning-end: 192 192 0;

  --oui-gradient-neutral-start: 10 10 10;
  --oui-gradient-neutral-end: 20 20 20;

  /* rounded */
  --oui-rounded-sm: 0px;
  --oui-rounded: 0px;
  --oui-rounded-md: 0px;
  --oui-rounded-lg: 0px;
  --oui-rounded-xl: 0px;
  --oui-rounded-2xl: 0px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 2rem;
  --oui-spacing-sm: 1.5rem;
  --oui-spacing-md: 1.5rem;
  --oui-spacing-lg: 2.5rem;
  --oui-spacing-xl: 2.5rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}